services:
  mariadb:
    image: mariadb:10.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: shinobi
      MYSQL_DATABASE: ccio
      MYSQL_USER: shinobi
      MYSQL_PASSWORD: shinobi
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --default-authentication-plugin=mysql_native_password
    volumes:
      - mariadb_data_shinobi:/var/lib/mysql

  shinobi:
    image: shinobisystems/shinobi:latest
    depends_on:
      - mariadb
    restart: always
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: shinobi
      MYSQL_PASSWORD: shinobi
      MYSQL_DATABASE: ccio
    volumes:
      - shinobi_config:/config
      - shinobi_custom:/custom
      - shinobi_videos:/home/Shinobi/videos

volumes:
  mariadb_data_shinobi:
  shinobi_config:
  shinobi_custom:
  shinobi_videos:
